/*=== GOOGLE FONTS & Home Style===*/
@charset "utf-8";
@import 'data.css';
@import 'base.css';

/* 
div, p, a, ul, li, h1, h2, img, header, nav, main, section, footer {
	border: 1px dashed rgba(0,0,0,.1);
} 
*/

main {
	margin: 0px var(--mb-1) 0px;
}

footer {
	margin: 0px 0px 0px;
}

.section {
	padding: 4rem 0 2rem;
}
.section-title,
.section-subtitle {
  text-align: center;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}
.section-subtitle {
  /* position property */
  display: block;
  /* position & style values */
  font-weight: var(--font-medium);
  color: var(--first-color);
	margin-bottom: var(--mb-1);
	margin-top: var(--mb-3);
}
.section-subtitle-bold {
	font-weight: var(--font-semi-bold);
}


/* BASE Layout */
.bd-container {
  /* 화면 최대넓이 설정 크기 */
  /* max-width: 960px; */
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd-grid {
	display: grid; 
	gap: 1rem;
}
.bd-flex {
  display: flex;
  flex-direction: column;
}

/* Button Layout */
.button {
	display: inline-block;
	background-color: var(--button-color);
	color:var(--footer-text);
	padding: .5rem 1rem;
	border-radius: 1.5rem;
	transition: .3s;
}
.button:hover {
	background-color: var(--first-color-alt);
	color:var(--container-color);
}

/* 1 SCROLL TOP */
.scrolltop {
	right: 1rem;
	bottom: 1rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .4rem 0;
	background: rgba(0,0,0, .3);
	border-radius: .4rem;
	z-index: var(--z-tooltip);
	transition: .4s;
	visibility: hidden;
}
.scrolltop:hover {
	background-color: rgba(255,255,255,0.5);
}
.scrolltop h1 i {
	color: rgba(255,255,255,1)
}
.scrolltop h1 i:hover {
	color: var(--first-color-alt)
}
.scroll-top {
	visibility: visible;
	bottom: 1.0rem;
}

/* 2 NAVIGATION BAR */
/* (1) Base Style */
.l-header{
	top: 0;
	left: 0;
	width: 100vw;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	position: fixed;
}
.nav {
  height: var(--header-height);
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__item{
	margin-bottom: var(--mb-2);
}
.nav__link, .nav__logo, .nav__toggle{
	color: var(--text-color);
	font-weight: var(--font-medium);
}
.nav__logo:hover, .nav__link:hover {
	color: var(--first-color);
}
.nav__link {
	transition: 0.3s;
}
.nav__toggle {
	font-size: 1.3rem;
}
/* (2) Function Used Style */
.active-link {   /* a Tag 의 active 스타일 */
  color: var(--first-color);
}
.scroll-header { /* <header> 그림자 (입체효과) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* 3 SECTION CONTENT */
/* (1) About */
.about__container {
	min-height: calc(105vh - var(--header-height));
	place-content: center;
	background-size: cover;
	/* position: relative; */
	/* width: 1000px; */
	/* background-position: center; */
	/* background-image: url("/media/bg.jpg"); */
	/* align-content: center; */
}
.about__data {
	margin: 250px var(--mb-4) 0px;
	max-width: 80vw;
}
.about__description {
  margin-bottom: var(--mb-2);
}
.about__subtitle {
	font-size: var(--h1-font-size);
	color: var(--title-color);
	margin: var(--mb-2) 0px;
}


/* (2) Naver Map */
.map {
  display: flex;
  flex-direction: column;
	align-self: center;
}
.map__item{
  display: block;
  text-align: center;
}
.naver-map {
	min-width: 150px;
  height: 450px;
	border-radius: 10px;
	margin: var(--mb-1) var(--mb-6);
}
.naver-marker {
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

/* (3) Artist Profile Card 
https://youtu.be/_BFn4yUxBpM */
.artist__title {
	margin-top: var(--mb-6);
}
.artist__container{
	gap: 3rem;
	grid-template-columns: repeat(4, minmax(20px, 250px));
	/* place-content: center; */
	align-content: center;
	justify-content: center;
	padding: var(--mb-3);
}
.artist-item {
	/* Profile 배경 */
	width: 100%;
	height: 350px;
	display: flex;
	position: relative;
	align-items: flex-end;
	background: #fff;
	border-radius: var(--mb-1);
	transition: 0.6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,.5);
	/* padding: var(--mb-2); */
}
.artist-item:hover::before {
	opacity: 1;
}
.artist-item:hover .artist-text {
	opacity: 1;
	transition: translateY(0);
}
.artist-item::before{
	/* Profile 위 그림자 */
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--mb-1);
	background: linear-gradient(to top, #000, transparent);
	z-index: 20;
	transition: 0.5s;
	opacity: 0;
}
.artist-item img {
	/* Profile 위 그림자 */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: var(--mb-1);
}
.artist-item .artist-text {
  position: relative;
	opacity: 0;
	z-index: 30;
	color: #ffffff;
	/* transform: translateY(20px); */
	transition: 0.5s;
}
.artist-text{
  width: 100%;
  padding: 0 var(--mb-2) var(--mb-3);
}
/* Artist Name */Store 
.artist-text h2{
	letter-spacing: 3px;
}
/* Artist 설명 1줄 */
.artist-text .title {
  font-weight: var(--font-semi-bold);
	font-size: 17px;
	letter-spacing: 1px;
	margin-bottom: var(--mb-2);
}
/* Artist 가게설명 */
.artist-text  a {
	font-size: var(--normal-font-size);
	text-decoration: none;
	color: #fff;
	width: auto;
}
/* Artist Social Icon 설명 */
.artist-social a {
	font-size: 1.3rem;
}

.artist-text  .artist-social a {
	padding: 0 5px;
  /* justify-content: space-between; */
}
/* Artist A link HOVER 효과 */
.artist-text p a:hover {
  color: white;
  text-shadow: 1px 1px 2px rgba(255,255,255, 1);
}


/* (4) Introduce of Cobalt */
.cobalt__container {
	align-items: center;
	padding: 5rem 0px;
}
.cobalt__peoples {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}
.cobalt__people {
	padding: 0px;
	margin: 0px;
	text-align: center;
  margin-bottom: 2rem;
}

.cobalt__people img {
	border-radius: 50%;
	width: 40%;
}
.cobalt__people__name {
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
}

.cobalt__people__name a {
	text-decoration: none;
	color:rgb(112, 112, 112);
}

.cobalt__people__name__eng {
	font-size: var(--small-font-size);
}
.cobalt__people__profile {
  font-weight: var(--font-semi-bold);
	color:rgba(0, 0, 0, 0.3);
	padding: 0px 10%;
}
.cobalt__people__description {
	font-weight: var(--font-semi-bold);
	font-size: smaller;
  color:rgba(0, 0, 0, 0.8);
  margin-top: .5rem;
	padding: 0px 20%;
}


/* 4 FOOTER CONTENT */
.footer {
	background-color: var(--footer-color);
}
.footer__container {
	/* grid-template-columns:2fr 1fr; */
	row-gap: 2rem;
	padding-left: var(--mb-4);
}
.footer__content {
	display: flex;
	flex-direction: column;
	gap: var(--mb-2) 0px;
}
.footer__title{
	font-size: var(--h2-font-size);
	color: var(--footer-text);
	margin-bottom: var(--mb-2);
}
.footer__subtitle {
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--normal-font-size);
	margin-bottom: var(--mb-2);
}
/* (1) left footer */
.footer__description {
	display: block;
	font-size: var(--normal-font-size);
	margin: .25rem 0 var(--mb-3);
}
.footer__social {
	font-size: 1rem;
	color: var(--title-color);
	margin-right: var(--mb-1);
}
/* (2) right footer */
.footer__link {
	display: inline-block;
	margin-bottom: var(--mb-1);
	color: var(--text-color);
}
.footer__link:hover {
	color:var(--first-color);
}
/* (3) footer bottom */
.footer__copyright {
	text-align: center;
	font-size: var(--small-font-size);
	color: var(--text-color-light);
	margin-top: 2.5rem;
}


/* === Artist Screen Layout === */
@media screen and (max-width: 1200px) {
	.artist__container{
		gap: 2rem;
		grid-template-columns: repeat(3, minmax(20px, 250px));
	}
}


@media screen and (max-width: 960px) {
	.artist__container{
		gap: 2rem;
		grid-template-columns: repeat(2, minmax(20px, 250px));
	}
	.cobalt__people img {
		width: 70%;
	}
	.cobalt__people__description {
		padding: 0px 8%;
	}
}

/* Tablet and Big Mobile Screen */
@media screen and (max-width: 768px) {
	.nav__menu{
		/* top: var(--header-height); */
		top: -100%;
		left: 0;
		width: 100%;
		padding: 1.5rem 0 1rem; /* top <left-right> bottom */
		position: fixed;
		display: block;
		text-align: center; /* content 내부의 Text 좌우 정렬*/
		background-color: var(--body-color);

		transition: 0.4s;
		box-shadow: 0 4px 4px rgba(0,0,0,.4);
		border-radius: 0 0 1rem 1rem;
		z-index: var(--z-fixed - 100);
	}	
	.show-menu{
		top: var(--header-height);
	}
	.about__container {
		margin-top: 0vh;
	}
	.about__data {
		margin: 80px var(--mb-4) 0px;
		max-width: 80vw;
	}
	.about__button {
		text-align: center;
	}
	.artist__container{
		gap: 2rem;
		grid-template-columns: repeat(2, minmax(20px, 250px));
		place-content: center;
	}
	.naver-map {
		margin: var(--mb-1) var(--mb-2);
    height: 300px;
  }
	main, .footer {
		margin: 0px;
	}
	.footer__content {
		justify-content: center;
		margin-right: 2rem;
	}
	.cobalt__peoples {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}
	.cobalt__people img {
		border-radius: 50%;
		width: 70%;
	}
	.cobalt__people__profile {
		padding: 0px 10%;	
	}
	.cobalt__people__description {
		font-size: smaller;
		margin-top: .5rem;
		padding: 0px 20%;
	}
}


/* === 모바일 Media Query  === */
@media screen and (max-width: 480px) {
	.artist__container{
		gap: 2rem;
		grid-template-columns: repeat(1, minmax(20px, 250px));
		/* place-content: center; */
		align-content: center;
		justify-content: center;
	}	
  .naver-map {
    height: 250px;
	}
	.cobalt__peoples {
		grid-template-columns: repeat(1, 1fr);
	}
	.cobalt__people__description {
		padding: 0px 7%;
	}	
}


/* === SECTION for DeskTop PC === */
@media screen and (min-width: 768px) {
	/* .about__container, */
	.gallery__container, 
	.app__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	.app__data, .app__initial, .app__data {
		text-align: initial;  /* 왼쪽 정렬 */
	}
	.app__img {
		width: 380px;
		order: -1
	}
	.footer__container {
		grid-template-columns:2fr 1fr;
		row-gap: 2rem;
		padding-left: var(--mb-4);
	}
	body {
		margin: 0;
	}
	.section {
		padding-top: 3rem;
	}
	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}
	.nav__list {
		display: flex;
	}
	.nav__item {
		margin-right: var(--mb-4);
		margin-bottom: 0;
	}
	.nav__toggle {
		display: none;
	}
}