<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="utf-8" /> 
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0" /> 
	<meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
	<title>Loader Demo</title> 
	<style> 
		#loader { 
			border: 12px solid #f3f3f3; 
			border-radius: 50%; 
			border-top: 12px solid #444444; 
			width: 70px; 
			height: 70px; 
			animation: spin 1s linear infinite; 
		} 
		
		@keyframes spin { 
			100% { 
				transform: rotate(360deg); 
			} 
		} 
		
		.center { 
			position: absolute; 
			top: 0; 
			bottom: 0; 
			left: 0; 
			right: 0; 
			margin: auto; 
		} 
  </style>
  <!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>  
</head> 

<body> 
	<div id="loader" class="center">
	</div> 
	
	<h1>GeeksforGeeks</h1> 
  <h2>A computer science portal for geeks</h2>
  <img src="https://i.imgur.com/KsQJA8I.png" alt="GeeksforGeeks logo" /> 

  <div class="single-item">
    <img src="/media/image/test1.jpg" alt="GeeksforGeeks logo" /> 
    <img src="/media/image/test2.jpg" alt="GeeksforGeeks logo" /> 
    <img src="/media/image/test3.jpg" alt="GeeksforGeeks logo" /> 
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script> 
		document.onreadystatechange = function() { 
			if (document.readyState !== "complete") { 
				document.querySelector( 
				"body").style.visibility = "hidden"; 
				document.querySelector( 
				"#loader").style.visibility = "visible"; 
			} else { 
				document.querySelector( 
				"#loader").style.display = "none"; 
				document.querySelector( 
				"body").style.visibility = "visible"; 
			} 
		}; 
  </script> 
  <script>
  $('.single-item').slick({
    infinite: true,
    speed: 2000,
    slidesToShow: 1,
    autoplay: true,
    autoplaySpeed: 5000,
  });
  </script>
</body> 

</html> 
