{% extends 'base.html' %}

{% block style %}
<title>Menu</title>	
{% endblock style %}


{% block content %}
<header>
	<nav id="navbar">
		<a href="" class="nav__title">Brand Name</a>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Service</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>  
</header>

<section>
	<div class="context">
		<h1>Scroll Aware Navigation Bar</h1>
		<h2>Hide Header on Scroll down, show on Scroll up</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, totam. Alias deleniti illum at aperiam repudiandae itaque ipsum eius tempora optio, quam ea praesentium porro labore nemo saepe illo aut.
		Laudantium vel minima sint voluptas. Harum placeat rerum odio animi numquam temporibus, aliquam excepturi quibusdam veritatis dolor eos cumque. Molestias facilis a illum ipsa obcaecati dolorem voluptate nihil eum illo!
		Laudantium hic, pariatur recusandae, est expedita distinctio nisi doloremque quas voluptatem alias nobis soluta, ipsa iure mollitia voluptates eos illo dolore quibusdam aliquam ipsam sapiente. Sint obcaecati aut quisquam doloremque.
		Facere, reprehenderit illo corrupti dicta sunt aspernatur nesciunt tempore ea minus, quibusdam iusto ut aut cupiditate officia libero deserunt, alias expedita laborum rerum saepe maxime. Consectetur iure distinctio eum culpa.
		Molestiae quidem vitae, delectus ipsum magni enim quibusdam dolores nobis, non voluptatum voluptatem quisquam repellat voluptatibus nihil. Consectetur quaerat pariatur, asperiores perspiciatis animi fuga dolore reiciendis debitis aperiam enim molestias!
		Sapiente asperiores suscipit laboriosam harum nam incidunt.</p>
	</div>
</section>

<section class="counter">
	<div class="num">
		65
	</div>
</section>

<section>
	<div class="wrapper">
		<span class="box third-number"></span>
		<span class="box second-number"></span>
		<span class="box first-number"></span>
	</div>
</section>	
{% endblock content %}



{% block js %}
<script src="http://localhost:3000/test.js" charset="utf-8"></script>	
{% endblock js %}