<!-- FOOTER CONTENT -->
<footer class="footer section">
    <div class="footer__container bd-grid">
      
      <div class="footer__content">
        <h3 class="footer__title">Arterior</h3>
        <span class="footer__text">관악아트테리어 2020 사업은 서울시, 관악구청, 서울 정보디자인 연구소 그리고 코발트 사회적 협동조합에 의해 진행되었습니다.<br>
          서울 정보 디자인 연구소 / 코발트 사회적 협동조합 / 뭐먹지 연구소</span>
        
        <!--
        <div>
          <a href="#" class="footer__social"><i class="fab fa-twitter"></i></a>
          <a href="#" class="footer__social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="footer__social"><i class="fab fa-youtube"></i></a>
          <a href="#" class="footer__social"><i class="fab fa-instagram"></i></a>
        </div>
        -->
  
      </div>
  
      <div class="footer__content">
        <p class="footer__subtitle">Office</p>
        <ul>
          <li><p class="footer__link">광진구 군자로 70, 3층</p></li>
          <li><p class="footer__link">Gwangnaru-ro 507, Gwangjin-gu, Seoul, Korea</p></li>
          <li><p class="footer__link"></p></li>
          <li><p class="footer__link">Tel. 02-457-1210</p></li>
          <li><p class="footer__link">cobaltscoop@gmail.com</p></li>
        </ul>
      </div>
  
    </div>
  </footer>